.other-container {
    display: flex;
    justify-content: center;
    padding: 0px 100px;
    gap: 20px;

    .title {
        position: relative;
    }
     
    .title::before {
        content: "";
        background-color: #5a5a5a;
        height: .5px;
        width: 10%;
        position: absolute;
        bottom: -10px;
    }
    .event-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 20px;

        .title {

        }

        .event {
            display: flex;
            gap: 20px;

            &__calendar {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: #B99B6B;
                font-weight: bold;
                font-size: 12px;
                height: 60px;
                width: 60px;
            }

            &__desc {

                &--title {
                    transition: .4s;
                }

                &--title:hover {
                    color: #B99B6B;
                }

                &--detail {
                    font-size: 13px;
                    word-break: break-word;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    line-height: 24px; /* fallback */
                    max-height: 72px; /* fallback */
                    -webkit-line-clamp: 3; /* number of lines to show */
                    -webkit-box-orient: vertical;
                    color: #5a5a5a;
                }
            }

        }

        .event-link {
            
            a {
                font-size: 13px;
                text-decoration: none;
                color: #B99B6B;
            }
        }
        
    }

    .testimonial-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 20px;

        .testimonial {
            display: flex;
            flex-direction: column;
            gap: 20px;
            border: 1px solid #5a5a5a;
            height: 100%;
            padding: 30px;
            width: 300px;


            .testimonial-flex {
                display: flex;
                flex-direction: column;
                justify-content: space-between;


                .testimonial__slide {
                    font-size: 13px;
                    word-break: break-word;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    line-height: 24px; /* fallback */
                    max-height: 72px; /* fallback */
                    -webkit-line-clamp: 3; /* number of lines to show */
                    -webkit-box-orient: vertical;
                    color: #5a5a5a;
                } 
                .testimonial__cus {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    margin-top: 40px;
    
                    img {
                        width: 30px;
                        height: 30px; 
                        border-radius: 50%;
                    }
                    .name {
                        font-size: 14px;
                    }
                }
            }
        }


    }

    .map-container {
        flex: 1;
    }
}

@media (max-width: 850px) {
    .other-container {

    
        .title {
            font-size: 15px;
            white-space: nowrap; 
        }
         
        .title::before {
            
        }
        .event-container {
    
            .title {
            }
    
            .event {
    
                &__calendar {
                    font-size: 9px;
                }
    
                &__desc {
    
                    &--title {
                        font-size: 12px;
                    }
    
                    &--title:hover {

                    }
    
                    &--detail {
                        font-size: 10px;
                    }
                }
    
            }
            .event-link {     
                a {

                }
            }    
        }
        .testimonial-container {
            .testimonial {
                width: 200px;
    
                &__slide {
                    font-size: 10px;
                } 
                &__cus {
                    display: flex;
                    align-items: center;
                    gap: 5px;
    
                    img {
                        width: 20px;
                        height: 20px; 
                        border-radius: 50%;
                    }
                    .name {
                        font-size: 12px;
                    }
                }
            }
        }    
        .map-container {
            flex: 0;
        }
    }    
}

@media (max-width: 450px) {
    .other-container {
        display: flex;
        flex-direction: column;
    
        .title {
            font-size: 15px;
            white-space: nowrap; 
            text-align: center;
        }
         
        .title::before {
            
        }
        .event-container {
    
            .title {
            }
    
            .event {
    
                &__calendar {
                    font-size: 9px;
                }
    
                &__desc {
    
                    &--title {
                        font-size: 12px;
                    }
    
                    &--title:hover {

                    }
    
                    &--detail {
                        font-size: 10px;
                    }
                }
    
            }
            .event-link {     
                a {

                }
            }    
        }
        .testimonial-container {
            .testimonial {
                width: 200px;
    
                &__slide {
                    font-size: 10px;
                } 
                &__cus {
                    display: flex;
                    align-items: center;
                    gap: 5px;
    
                    img {
                        width: 20px;
                        height: 20px; 
                        border-radius: 50%;
                    }
                    .name {
                        font-size: 12px;
                    }
                }
            }
        }    
        .map-container {
            flex: 0;
        }
    }    
}

