.comment-container {


    form {
        display: flex;
        align-items: center;
        gap: 10px;
        input {
            padding: 8px 10px;
            width: 100%;
            border-radius: 5px;
            outline: none;
            border: 1px solid #eee;
        }
    
        button {
            padding: 8px 10px;
            border: none;
            font-weight: bold;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}