.header {
    // background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
    padding: 25px 0px 15px 0px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: #fff;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

    .header__logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 50px;

        .header__navbar--cart {
            width: 35px;
            height: 35px;
            text-align: center;
            line-height: 35px;
            border-radius: 50%;
            background-color: #F0EEED;
            position: relative;
            cursor: pointer;
            display: none;

            .number-cart {
                position: absolute;
                top: -5px;
                font-size: 12px;
                font-weight: bold;
                background-color: #B99B6B;
                color: #3C2A21;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                align-items: center;
                line-height: 15px;
            }
        }

    }

    .header__navbar {
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        

        .header__contact {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 20px;
            width: 100%;

            &--phone {
                font-size: 13px;
                position: relative;
            }

            &--phone::before {
                content: "";
                position: absolute;
                height: .5px;
                background-color: #333;
                width: 100%;
                bottom: -3px;
            }

            &--language {
                list-style: none;
                cursor: pointer;
                position: relative;
                font-size: 13px;
                
                li {
                    list-style: none;

                    i {
                        font-size: 10px;
                        color: #B99B6B;

                    }

                    .country {
                        display: none;
                        position: absolute;
                        top: 20px;
                        background-color: #fff;
                        width: 120%;
                        padding: 2px 5px;
                        z-index: 999;
                        
                        li {
                            transition: .3s;
                        }

                        li:nth-child(1)::before {
                            content: "";
                            position: absolute;
                            height: .5px;
                            background-color: #333;
                            width: 100%;
                            top: 20px;
                            left: 0;
                        }

                        li:hover {
                            color: #B99B6B;
                        }
                    }
                }
            }

            &--language::before {
                content: "";
                position: absolute;
                height: .5px;
                background-color: #333;
                width: 100%;
                bottom: -3px;
            }

            &--language:hover .country{
                display: block;
            }

            &--social {
                display: flex;
                position: relative;
                align-items: center;
                font-size: 14px;
                gap: 10px;
                cursor: pointer;
            }

        }

        &--link {
            

            ul {
                display: flex;
                gap: 20px;
                list-style: none;
                align-items: center;

                li {

                    a {
                        text-decoration: none;
                        font-size: 13px;
                        color: #333;
                        font-weight: bold;
                        transition: .3s;

                        span {

                            background-color: #B99B6B;
                            padding: 5px 20px;
                            color: #fff;
                            border-radius: 5px;
                        }

                        .header-avatar {
                            background-color: #eee;
                            height: 40px;
                            width: 40px;
                            padding: 0px;
                            display: inline-block;
                            border-radius: 50%;
                            position: relative;

                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                                object-fit: cover;
                            }

                            .header-logout {
                                position: absolute;
                                bottom: -40px;
                                white-space: nowrap;
                                left: -55%;
                                display: none;
                                
                            }

                            .header-logout::before {
                                content: "";
                                height: 15px;
                                width: 15px;
                                background-color: #B99B6B;
                                position: absolute;
                                top: -5px;
                                left: 40%;
                                rotate: 45deg;
                            }
                        }
                        .header-avatar:hover .header-logout {
                            display: block;
                        }
                        
                    }

                    a:hover {
                        color: #B99B6B;
                    }

                    .cart {
                        padding: 5px 10px;
                        border-radius: 50%;
                        background-color: #F0EEED;
                        position: relative;

                        &-number {
                            background-color: #B99B6B;
                            padding: 0;
                            color: #3C2A21;
                            font-size: 10px;
                            font-weight: bold;  
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            text-align: center;
                            line-height: 12px;
                            position: absolute;
                            top: -5px;
                            right: 0;
                        }
                    }

 
                } 
                
                .li-cart {
                    position: relative;
                    cursor: pointer;

                    .favorite {
                        position: absolute;
                        left: 0;
                        top: 40px;
                        cursor: default;
                    }
                }
            }
        }
    }
    .header__navbar--btn {
        font-size: 18px;
        cursor: pointer;
        display: none;
        position: absolute;
        right: 20px;
        top: 20px;
    }
}
@media (max-width: 768px) {
    .header {
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;  
        display: flex;
        flex-direction: column;
        padding: 12px 20px;

       

        .header__logo {
            font-size: 20px;
            color: #B99B6B;

            .header__navbar--cart {
                display: block;
            }
        }
    
        .header__navbar {
            position: relative;

            .header__contact {
  
    
                &--phone {
                    display: none;
                }
    
                &--phone::before {
  
                }
    
                &--language {
                    display: none;
                    
                    li {
                        list-style: none;
    
                        i {
                           
                        }
    
                        .country {
                       
                            
                            li {
                                
                            }
    
                            li:nth-child(1)::before {

                            }
    
                            li:hover {
                              
                            }
                        }
                    }
                }
    
                &--language::before {
 
                }
    
                &--language:hover .country{
                
                }
    
                &--social {
                    display: none;
                }
    
            }
    
            &--link {
                height: 700px;
                transition: .5s ease-in-out;

                ul {
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    
    
                    li {
                        
                        a {
                            font-size: 22px;
                            
    
                            span {
                                background-color: #B99B6B;
                                padding: 5px 20px;
                                color: #fff;
                                border-radius: 5px;

                            }
                        }
    
                        a:hover {
                            color: #fff !important;
                            background-color: #B99B6B;
                            padding: 5px 10px;
                            border-radius: 4px;
                        }
                        
                        .cart {
                            display: none;
                        }
                    
                    }
                }
            }
            .close {
                height: 0;
                transition: .5s ease-in-out;
                

                ul {
                    display: none;
    
                    li {
    
                        a {
                            font-size: 22px;

    
                            span {
    
                                background-color: #B99B6B;
                                padding: 5px 20px;
                                color: #fff;
                                border-radius: 5px;
                            }
                        }
    
                        a:hover {
                            color: #fff !important;
                            background-color: #B99B6B;
                            padding: 5px 10px;
                            border-radius: 4px;
                        }

                        
                    }
                }
                
            }
        }
        .header__navbar--btn {
            font-size: 18px;
            cursor: pointer;
            display: block;
        }
    }
}